#  ETL DATA WORLD.
### Obtención de datos, transformación y selección de los mismos para futuro analisís.

importamos las librerias necesarias.

In [106]:
import pandas as pd
import math
import pycountry

importamos los archivos csv de scraping de ofertas laborales de la pagina linkedin. en este caso tenemos datos de carreras tradicionales VS las nuevas tendencias en profesiones IT.

In [213]:
# # Carreras tradicionales.
# abogacia = pd.read_csv('./datasets/linkedin-jobs-Latam_abogacia.csv')
# contabilidad = pd.read_csv('./datasets/linkedin-jobs-Latam_medicina.csv')
# medicina = pd.read_csv('./datasets/linkedin-jobs-Latam_contabilidad.csv')


# # carreras IT
# ingsoft = pd.read_csv('./datasets/linkedin-jobs-Latam_IGSF.csv')
# fullstack = pd.read_csv('./datasets/linkedin-jobs-Latam_FULLSTACK.csv')
# informatica = pd.read_csv('./datasets/linkedin-jobs-Latam_informatica.csv')
# denginner = pd.read_csv('./datasets/linkedin-jobs-Latam_DE.csv')
# danalytic= pd.read_csv('./datasets/linkedin-jobs-Latam_DA.csv')
# dscience=pd.read_csv('./datasets/linkedin-jobs-Latam_DS.csv')

Usamos la comulna posted_date como refencia de antiguedad depublicacion y la ordenamos de menor a mayor.

In [187]:
# Carreras tradicionales.
abogacia = pd.DataFrame(abogacia, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
contabilidad = pd.DataFrame(contabilidad, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
medicina = pd.DataFrame(medicina, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)


# Carreras IT.
ingsoft = pd.DataFrame(ingsoft, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
fullstack = pd.DataFrame(fullstack, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
informatica = pd.DataFrame(informatica, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
denginner = pd.DataFrame(denginner, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
danalytic= pd.DataFrame(danalytic, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)
dscience=pd.DataFrame(dscience, columns=['posted_date', 'title', 'company', 'description', 'onsite_remote', 'location', 'criteria']).sort_values('posted_date', ascending=True)

Ordenamos y renombramos a castellano las columnas.

In [188]:
# Carreras tradicionales.
abogacia = abogacia.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
contabilidad = contabilidad.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
medicina = medicina.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
 

# Carreras IT.
ingsoft = ingsoft.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
fullstack = fullstack.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
informatica = informatica.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
denginner = denginner.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
danalytic= danalytic.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})
dscience= dscience.rename(columns={'posted_date': 'fecha posteo', 'title': 'puesto', 'company': 'empresa', 'description': 'descripcion', 'onsite_remote': 'modalidad', 'location': 'localidad', 'criteria': 'requisitos'})

IMPORTAMOS DATOS DE SALARIOS DEL 2022 Y 2023.

In [75]:
# Importamos datos.
salarios23 = pd.read_excel('./datasets/salary23.xlsx')
salarios22 = pd.read_excel('./datasets/salary22.xlsx')

In [76]:
# Renombrar las columnas de salarios22 con números consecutivos
salarios22.columns = range(salarios22.shape[1])

# Obtener una lista con los nombres originales de las columnas
column_names = salarios22.columns.tolist()

# Renombrar las columnas de nuevo a los nombres originales
salarios22.columns = range(salarios22.shape[1])

# Eliminar las filas con índices 0 a 7 (porque no contienen información relevante)
salarios22 = salarios22.drop(index=[0,1,2,3,4,5,6,7])

# Establecer los nombres de las columnas como los valores de la primera fila del DataFrame
salarios22.columns = salarios22.iloc[0]

# Eliminar la primera fila del DataFrame (porque ya hemos usado sus valores para los nombres de las columnas)
salarios22 = salarios22[1:]


# Repetir el proceso para el DataFrame salarios23
salarios23.columns = range(salarios23.shape[1])
column_names = salarios23.columns.tolist()
salarios23.columns = range(salarios23.shape[1])
salarios23 = salarios23.drop(index=[0,1,2,3,4,5,6])
salarios23.columns = salarios23.iloc[0]
salarios23 = salarios23[1:]

In [35]:
print(salarios23.columns)

Index(['Estoy trabajando en', 'Dónde estás trabajando', 'Dedicación',
       'Tipo de contrato',
       'Último salario mensual  o retiro BRUTO (en tu moneda local)',
       'Último salario mensual o retiro NETO (en tu moneda local)',
       'Pagos en dólares',
       'Si tu sueldo está dolarizado ¿Cuál fue el último valor del dólar que tomaron?',
       'Pagos en criptomonedas',
       '¿Qué porcentaje o monto recibís en criptomonedas?',
       'Recibís algún tipo de bono', 'A qué está atado el bono',
       '¿Tuviste actualizaciones de tus ingresos laborales durante 2022?',
       '¿De qué % fue el ajuste total acumulado?',
       '¿En qué mes fue el último ajuste? *',
       'Cómo considerás que están tus ingresos laborales comparados con el semestre anterior',
       'Con qué beneficios contas',
       '¿Qué tan conforme estás con tus ingresos laborales?', 'Trabajo de',
       'Años de experiencia', 'Antigüedad en la empresa actual',
       'Tiempo en el puesto actual', '¿Cuántas personas a cargo tenés?',
       'Plataformas que utilizas en tu puesto actual',
       'Lenguajes de programación o tecnologías que utilices en tu puesto actual',
       'Frameworks, herramientas y librerías que utilices en tu puesto actual',
       'Bases de datos', 'QA / Testing',
       'Cantidad de personas en tu organización', 'Modalidad de trabajo',
       'Si trabajás bajo un esquema híbrido ¿Cuántos días a la semana vas a la oficina?',
       '¿La recomendás como un buen lugar para trabajar?',
       'Máximo nivel de estudios', 'Estado', 'Carrera', 'Universidad',
       '¿Participaste de algún Boot Camp?',
       'Si participaste de un Boot Camp, ¿qué carrera estudiaste?',
       '¿Tenés guardias?', 'Cuánto cobrás por guardia',
       '¿Porcentaje, bruto o neto?', 'Tengo (edad)', 'Me identifico (género)'],
      dtype='object', name=7)

SE ELIGIO LAS COMUNAS RELEVANTES PARA  FUTUROS ANALISIS.

In [77]:
# Seleccionamos únicamente las columnas relevantes del DataFrame "salarios23"
salarios23 = salarios23[['Estoy trabajando en', 'Dónde estás trabajando', 'Dedicación',
       'Tipo de contrato',
       'Último salario mensual  o retiro BRUTO (en tu moneda local)',
       'Pagos en dólares', 'Años de experiencia',
       'Antigüedad en la empresa actual', 'Tiempo en el puesto actual',
       'Plataformas que utilizas en tu puesto actual',
       'Lenguajes de programación o tecnologías que utilices en tu puesto actual',
       'Bases de datos', 'Modalidad de trabajo','Trabajo de']]

In [78]:
# Seleccionamos únicamente las columnas relevantes del DataFrame "salarios22"

salarios22 = salarios22[['Estoy trabajando en ', 'Dónde estás trabajando', 'Dedicación',
       'Tipo de contrato',
       'Último salario mensual  o retiro BRUTO (en tu moneda local)',
       'Pagos en dólares', 'Años de experiencia',
       'Antigüedad en la empresa actual', 'Tiempo en el puesto actual',
       'Lenguajes de programación o tecnologías que utilices en tu puesto actual',
       'Bases de datos', 'Modalidad de trabajo','Trabajo de']]

SE MODIFICO EL CONTENIDO DE MODALIDAD DE TRABAJO ENTRE MODALIDADES ONSITE, REMOTE Y HYBRID.

In [79]:
#Filtrar los datos donde la Modalidad de trabajo es 100% remoto
filtro_ss1 = salarios23['Modalidad de trabajo']=='100% remoto'
#Obtener los resultados que cumplen con el filtro_ss1
resultados = salarios23[filtro_ss1]
#Filtrar los datos donde la Modalidad de trabajo es Híbrido (presencial y remoto)
filtro_ss2 = salarios23['Modalidad de trabajo']=='Híbrido (presencial y remoto)'
#Obtener los resultados que cumplen con el filtro_ss2
resultados = salarios23[filtro_ss2]
#Filtrar los datos donde la Modalidad de trabajo es 100% presencial
filtro_ss3 = salarios23['Modalidad de trabajo']=='100% presencial'
#Obtener los resultados que cumplen con el filtro_ss3
resultados = salarios23[filtro_ss3]
#Reemplazar los valores de la columna Modalidad de trabajo por valores más simples
#'remoto' para 100% remoto, 'hybrid' para Híbrido (presencial y remoto), y 'onsite' para 100% presencial
salarios23.loc[filtro_ss1, 'Modalidad de trabajo'] = 'remoto'
salarios23.loc[filtro_ss2, 'Modalidad de trabajo'] = 'hybrid'
salarios23.loc[filtro_ss3, 'Modalidad de trabajo'] = 'onsite'
#Agrupar los datos por la columna Modalidad de trabajo y contar la cantidad de filas por grupo
agrupado = salarios23.groupby(['Modalidad de trabajo']).count()

#Mostrar el resultado del agrupamiento
agrupado

7,Estoy trabajando en,Dónde estás trabajando,Dedicación,Tipo de contrato,Último salario mensual o retiro BRUTO (en tu moneda local),Pagos en dólares,Años de experiencia,Antigüedad en la empresa actual,Tiempo en el puesto actual,Plataformas que utilizas en tu puesto actual,Lenguajes de programación o tecnologías que utilices en tu puesto actual,Bases de datos,Trabajo de
Modalidad de trabajo,,,,,,,,,,,,,
hybrid,2193,2193,2193,2193,2193,398,2193,2193,2193,2193,2193,2192,2193
onsite,543,543,543,543,543,28,543,543,543,542,543,543,543
remoto,3976,3976,3976,3976,3976,1561,3976,3976,3976,3975,3976,3975,3976

SE HIZO LO MISMO PARA LA VARIABLE DE SALARIOS 2022

In [80]:
filtro_s1 = salarios22['Modalidad de trabajo']=='100% remoto'
resultados = salarios22[filtro_s1]
filtro_s2 = salarios22['Modalidad de trabajo']=='Híbrido (presencial y remoto)'
resultados = salarios22[filtro_s2]
filtro_s3 = salarios22['Modalidad de trabajo']=='100% presencial'
resultados = salarios22[filtro_s3]

salarios22.loc[filtro_s1, 'Modalidad de trabajo'] = 'remoto'
salarios22.loc[filtro_s2, 'Modalidad de trabajo'] = 'hybrid'
salarios22.loc[filtro_s3, 'Modalidad de trabajo'] = 'onsite'

agrupado = salarios22.groupby(['Modalidad de trabajo']).count()

# Mostrar el resultado
agrupado

8,Estoy trabajando en,Dónde estás trabajando,Dedicación,Tipo de contrato,Último salario mensual o retiro BRUTO (en tu moneda local),Pagos en dólares,Años de experiencia,Antigüedad en la empresa actual,Tiempo en el puesto actual,Lenguajes de programación o tecnologías que utilices en tu puesto actual,Bases de datos,Trabajo de
Modalidad de trabajo,,,,,,,,,,,,
hybrid,1738,1738,1738,1738,1738,335,1738,1738,1738,1737,1737,1738
onsite,400,400,400,400,400,18,400,400,400,400,400,400
remoto,3220,3220,3220,3220,3220,1287,3220,3220,3220,3219,3219,3220

SE MODIFICO EL NOMBRE DE LAS COLUMNAS QUE NOS INTERESA EN ESTE CASO LOCALIDAD Y TIPO DE SALARIO.

In [97]:
salarios22 = salarios22.rename(columns={salarios23.columns[1]: 'localidad'})
salarios22 = salarios22.rename(columns={salarios23.columns[4]: 'salario en usd'})

salarios23 = salarios23.rename(columns={salarios23.columns[1]: 'localidad'})
salarios23 = salarios23.rename(columns={salarios23.columns[4]: 'salario en usd'})

In [99]:
#  Eliminar cualquier fila que contenga valores no numéricos en la columna 'salario en usd'
salarios22 = salarios22[pd.to_numeric(salarios22['salario en usd'], errors='coerce').notnull()]

# Convertir la columna 'salario en usd' a float y truncar a int
salarios22['salario en usd'] = salarios22['salario en usd'].astype(float).apply(lambda x: math.trunc(x))

In [100]:
#  Eliminar cualquier fila que contenga valores no numéricos en la columna 'salario en usd'
salarios23 = salarios23[pd.to_numeric(salarios23['salario en usd'], errors='coerce').notnull()]

# Convertir la columna 'salario en usd' a float y truncar a int
salarios23['salario en usd'] = salarios23['salario en usd'].astype(float).apply(lambda x: math.trunc(x))

In [101]:
# Selecciona todas las filas de la columna "salario en usd" en el DataFrame "salarios23" que tienen un valor mayor o igual a 100,000 y menor o igual a 999,999, y sobrescribe el DataFrame original con esta selección.
salarios23 = salarios23[(salarios23['salario en usd'] >= 100000) & (salarios23['salario en usd'] <= 999999)]

# Selecciona todas las filas de la columna "salario en usd" en el DataFrame "salarios22" que tienen un valor mayor o igual a 100,000 y menor o igual a 999,999, y sobrescribe el DataFrame original con esta selección.
salarios22 = salarios22[(salarios22['salario en usd'] >= 100000) & (salarios22['salario en usd'] <= 999999)]

In [102]:
# Primero, agrupamos la información de la tabla "salarios22" por localidad y calculamos el promedio de los salarios en dólares para cada localidad.
promedio_salarios22 = salarios22.groupby('localidad')['salario en usd'].mean()

# Luego, dividimos el resultado anterior por 1 para obtener el promedio de los salarios en miles de dólares (ya que los salarios están en dólares completos).
# Redondeamos el resultado a dos decimales para que sea más fácil de leer.
promedio_salarios_miles22 = (promedio_salarios22 / 1).round(2)

# Finalmente, imprimimos el resultado que contiene el promedio de los salarios en miles de dólares para cada localidad.
promedio_salarios_miles22

localidad
Chaco                              321002.50
Chubut                             275425.00
Ciudad Autónoma de Buenos Aires    434628.22
Corrientes                         333813.25
Córdoba                            410270.19
Entre Ríos                         409300.00
Jujuy                              398125.00
La Pampa                           442309.00
La Rioja                           400000.00
Mendoza                            416493.71
Misiones                           474084.44
Neuquén                            436571.43
Provincia de Buenos Aires          402222.78
Río Negro                          378805.30
Salta                              368233.09
San Juan                           218500.00
San Luis                           336923.67
Santa Cruz                         285000.00
Santa Fe                           478981.02
Tierra del Fuego                   244500.00
Tucumán                            310698.90
Name: salario en usd, dtype: float64

In [105]:
# Primero, agrupamos la información de la tabla "salarios23" por localidad y calculamos el promedio de los salarios en dólares para cada localidad.
promedio_salarios23 = salarios23.groupby('localidad')['salario en usd'].mean()

# Luego, dividimos el resultado anterior por 1 para obtener el promedio de los salarios en miles de dólares (ya que los salarios están en dólares completos).
# Redondeamos el resultado a dos decimales para que sea más fácil de leer.
promedio_salarios_miles23 = (promedio_salarios23 / 1).round(2)

# Finalmente, imprimimos el resultado que contiene el promedio de los salarios en miles de dólares para cada localidad.
promedio_salarios_miles23

localidad
Catamarca                          273019.20
Chaco                              309740.23
Chubut                             459444.44
Ciudad Autónoma de Buenos Aires    409105.83
Corrientes                         325994.04
Córdoba                            351872.85
Entre Ríos                         362095.58
Formosa                            200250.00
Jujuy                              337617.04
La Pampa                           513413.55
La Rioja                           261661.58
Mendoza                            338476.24
Misiones                           353062.40
Neuquén                            399765.48
Provincia de Buenos Aires          370207.05
Río Negro                          436516.85
Salta                              347158.21
San Juan                           324254.91
San Luis                           303708.35
Santa Cruz                         231000.00
Santa Fe                           351790.48
Santiago del Estero                333890.29
Tierra del Fuego                   467666.67
Tucumán                            325034.40
Name: salario en usd, dtype: float64

Datos extras de Mercado libre y sus ofertas recientes

In [192]:
# Se obtienen las localidades únicas presentes en la columna "localidad" del conjunto de datos "ingsoft".
localidades_unicas = ingsoft['localidad'].unique()
# Se crea una lista con los nombres de los países presentes en el paquete "pycountry".
paises = [pais.name for pais in pycountry.countries]
# Se define una función llamada "identificar_pais" que recibe una cadena de texto y retorna el nombre del país presente en ella. Si no se encuentra un país, se retorna la cadena original.
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena
# Se aplica la función "identificar_pais" a la columna "localidad" del conjunto de datos "ingsoft" y se guarda el resultado en una nueva columna llamada "pais".
ingsoft['pais'] = ingsoft['localidad'].apply(identificar_pais)
# Se aplica la función "identificar_pais" a la columna "localidad" del conjunto de datos "ingsoft" y se guarda el resultado en la misma columna "localidad".
ingsoft['localidad'] = ingsoft['localidad'].apply(identificar_pais)

MODIFICAMOS Y CATEGORIZAMOS TODOS LOS SECTORES EN SUS RESPECTIVOS PAISES.

In [193]:
# Seleccionar filas de la tabla ingsoft cuya columna 'localidad' contenga las siguientes ciudades: Greater Curitiba, Greater Florianopolis, Greater São Paulo Area
filtro_i1 = ingsoft['localidad'].isin(['Greater Curitiba', 'Greater Florianopolis', 'Greater São Paulo Area'])
# Crear una nueva tabla con los resultados que cumplen la condición del filtro_i1
resultados = ingsoft[filtro_i1]
#Seleccionar filas de la tabla ingsoft cuya columna 'localidad' contenga las siguientes ciudades: Santiago Metropolitan Area, Chile
filtro_i2 = ingsoft['localidad'].isin(['Santiago Metropolitan Area', 'Chile'])

#Actualizar la tabla resultados con los resultados que cumplen la condición del filtro_i2
resultados = ingsoft[filtro_i2]

#Seleccionar filas de la tabla ingsoft cuya columna 'localidad' contenga las siguientes ciudades: Medellín Metropolitan Area, Colombia
filtro_i3 = ingsoft['localidad'].isin(['Medellín Metropolitan Area', 'Colombia'])

#Actualizar la tabla resultados con los resultados que cumplen la condición del filtro_i3
resultados = ingsoft[filtro_i3]

#Actualizar la columna 'localidad' de la tabla ingsoft para reemplazar los nombres de las ciudades seleccionadas en los filtros con los nombres de los países correspondientes
ingsoft.loc[filtro_i1, 'localidad'] = 'Brazil'
ingsoft.loc[filtro_i2, 'localidad'] = 'Chile'
ingsoft.loc[filtro_i3, 'localidad'] = 'Colombia'

#Agrupar la tabla ingsoft por la columna 'localidad' y contar el número de filas en cada grupo
agrupado = ingsoft.groupby(['localidad']).count()

#mostrar el resultado de la agrupación
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,126,126,126,126,126,126,126
Belize,16,16,16,16,16,16,16
Brazil,706,706,706,706,706,706,706
Chile,149,149,149,149,149,149,149
Colombia,49,49,49,49,49,49,49
Costa Rica,24,24,24,24,24,24,24
Ecuador,52,52,52,52,52,52,52
El Salvador,16,16,16,16,16,16,16
French Guiana,13,13,13,13,13,13,13
Guadeloupe,16,16,16,16,16,16,16
Guatemala,72,72,72,72,72,72,72
Guyana,16,16,16,16,16,16,16
Haiti,16,16,16,16,16,16,16
Honduras,16,16,16,16,16,16,16
Mexico,152,152,152,152,152,152,152
Panama,28,28,28,28,28,28,28
Paraguay,16,16,16,16,16,16,16
Peru,41,41,41,41,41,41,41

LO MISMO SE HIZO PARA LAS DEMAS VARIABLES DE LOS DEMAS DF DE LAS CARRERAS.

In [194]:
localidades_unicas = fullstack['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

fullstack['pais'] = fullstack['localidad'].apply(identificar_pais)
fullstack['localidad'] = fullstack['localidad'].apply(identificar_pais)

In [195]:
agrupado = fullstack.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,101,101,101,101,101,101,101
Brazil,945,945,945,945,945,945,945
"Caracas, Federal District, Venezuela",4,4,4,4,4,4,4
Chile,119,119,119,119,119,119,119
Colombia,49,49,49,49,49,49,49
Ecuador,31,31,31,31,31,31,31
Greater Belo Horizonte,2,2,2,2,2,2,2
Greater Curitiba,19,19,19,19,19,19,19
Greater Goiania,9,9,9,9,9,9,9
Greater São Paulo Area,130,130,130,130,130,130,130
Guatemala,24,24,24,24,24,24,24
Medellín Metropolitan Area,4,4,4,4,4,4,4
Mexico,79,79,79,79,79,79,79
Nicaragua,2,2,2,2,2,2,2
Panama,8,8,8,8,8,8,8
Peru,13,13,13,13,13,13,13
Puerto Rico,3,3,3,3,3,3,3

In [196]:
filtro_f1 = fullstack['localidad'].isin(['Greater Curitiba', 'Greater Goiania', 'Greater São Paulo Area','Greater Belo Horizonte'])
resultados = fullstack[filtro_f1]
filtro_f2 = fullstack['localidad'].isin(['Caracas, Federal District, Venezuela'])
resultados = fullstack[filtro_f2]
filtro_f3 = fullstack['localidad'].isin(['Medellín Metropolitan Area', 'Colombia'])
resultados = fullstack[filtro_f3]

fullstack.loc[filtro_f1, 'localidad'] = 'Brazil'
fullstack.loc[filtro_f2, 'localidad'] = 'Venezuela'
fullstack.loc[filtro_f3, 'localidad'] = 'Colombia'

agrupado = fullstack.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,101,101,101,101,101,101,101
Brazil,1105,1105,1105,1105,1105,1105,1105
Chile,119,119,119,119,119,119,119
Colombia,53,53,53,53,53,53,53
Ecuador,31,31,31,31,31,31,31
Guatemala,24,24,24,24,24,24,24
Mexico,79,79,79,79,79,79,79
Nicaragua,2,2,2,2,2,2,2
Panama,8,8,8,8,8,8,8
Peru,13,13,13,13,13,13,13
Puerto Rico,3,3,3,3,3,3,3
Venezuela,4,4,4,4,4,4,4

In [197]:
localidades_unicas = informatica['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

informatica['pais'] = informatica['localidad'].apply(identificar_pais)
informatica['localidad'] = informatica['localidad'].apply(identificar_pais)

In [ ]:
agrupado = informatica.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,15,15,15,15,15,15,15
Brazil,784,784,784,784,784,784,784
"Caracas, Federal District, Venezuela",2,2,2,2,2,2,2
Chile,66,66,66,66,66,66,66
Colombia,58,58,58,58,58,58,58
Dominica,1,1,1,1,1,1,1
Ecuador,52,52,52,52,52,52,52
Greater Belem,8,8,8,8,8,8,8
Greater Pachuca de Soto Area,2,2,2,2,2,2,2
Greater São Paulo Area,68,68,68,68,68,68,68
Guatemala,11,11,11,11,11,11,11
Medellín Metropolitan Area,1,1,1,1,1,1,1
Mexico,30,30,30,30,30,30,30
Panama,3,3,3,3,3,3,3
Peru,59,59,59,59,59,59,59
Santiago Metropolitan Area,6,6,6,6,6,6,6
Uruguay,1,1,1,1,1,1,1

In [198]:
filtro_in1 = informatica['localidad'].isin(['Greater Belem', 'Greater São Paulo Area'])
resultados = informatica[filtro_in1]
filtro_in2 = informatica['localidad'].isin(['Caracas, Federal District, Venezuela'])
resultados = informatica[filtro_in2]
filtro_in3 = informatica['localidad'].isin(['Santiago Metropolitan Area', 'Chile'])
resultados = informatica[filtro_in3]
filtro_in4 = informatica['localidad'].isin(['Medellín Metropolitan Area', 'Colombia'])
resultados = informatica[filtro_in4]
filtro_in5 = informatica['localidad'].isin(['Greater Pachuca de Soto Area', 'Mexico'])
resultados = informatica[filtro_in5]

informatica.loc[filtro_in1, 'localidad'] = 'Brazil'
informatica.loc[filtro_in2, 'localidad'] = 'Venezuela'
informatica.loc[filtro_in3, 'localidad'] = 'Chile'
informatica.loc[filtro_in4, 'localidad'] = 'Colombia'
informatica.loc[filtro_in5, 'localidad'] = 'Mexico'

agrupado = informatica.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,15,15,15,15,15,15,15
Brazil,860,860,860,860,860,860,860
Chile,72,72,72,72,72,72,72
Colombia,59,59,59,59,59,59,59
Dominica,1,1,1,1,1,1,1
Ecuador,52,52,52,52,52,52,52
Guatemala,11,11,11,11,11,11,11
Mexico,32,32,32,32,32,32,32
Panama,3,3,3,3,3,3,3
Peru,59,59,59,59,59,59,59
Uruguay,1,1,1,1,1,1,1
Venezuela,2,2,2,2,2,2,2

In [199]:
localidades_unicas = denginner['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

denginner['pais'] = denginner['localidad'].apply(identificar_pais)
denginner['localidad'] = denginner['localidad'].apply(identificar_pais)

In [200]:
agrupado = denginner.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,143,143,143,143,143,143,143
Brazil,556,556,556,556,556,556,556
Chile,124,124,124,124,124,124,124
Colombia,91,91,91,91,91,91,91
Costa Rica,36,36,36,36,36,36,36
Dominica,13,13,13,13,13,13,13
Ecuador,12,12,12,12,12,12,12
Greater Brasilia,12,12,12,12,12,12,12
Greater Buenos Aires,6,6,6,6,6,6,6
Greater São Paulo Area,23,23,23,23,23,23,23
Guatemala,11,11,11,11,11,11,11
Mexico,334,334,334,334,334,334,334
Panama,13,13,13,13,13,13,13
Paraguay,1,1,1,1,1,1,1
Peru,103,103,103,103,103,103,103
Santiago Metropolitan Area,9,9,9,9,9,9,9
Uruguay,41,41,41,41,41,41,41

In [201]:
filtro_d1 = denginner['localidad'].isin(['Greater Brasilia', 'Greater São Paulo Area'])
resultados = denginner[filtro_d1]
filtro_d3 = denginner['localidad'].isin(['Santiago Metropolitan Area', 'Chile'])
resultados = denginner[filtro_d3]
filtro_d4 = denginner['localidad'].isin(['Greater Buenos Aires', 'Argentina'])
resultados = denginner[filtro_d4]

denginner.loc[filtro_d1, 'localidad'] = 'Brazil'
denginner.loc[filtro_d3, 'localidad'] = 'Chile'
denginner.loc[filtro_d4, 'localidad'] = 'Argentina'

agrupado = denginner.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,149,149,149,149,149,149,149
Brazil,591,591,591,591,591,591,591
Chile,133,133,133,133,133,133,133
Colombia,91,91,91,91,91,91,91
Costa Rica,36,36,36,36,36,36,36
Dominica,13,13,13,13,13,13,13
Ecuador,12,12,12,12,12,12,12
Guatemala,11,11,11,11,11,11,11
Mexico,334,334,334,334,334,334,334
Panama,13,13,13,13,13,13,13
Paraguay,1,1,1,1,1,1,1
Peru,103,103,103,103,103,103,103
Uruguay,41,41,41,41,41,41,41

In [202]:
localidades_unicas = danalytic['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

danalytic['pais'] = danalytic['localidad'].apply(identificar_pais)
danalytic['localidad'] = danalytic['localidad'].apply(identificar_pais)

In [ ]:
agrupado = danalytic.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,28,28,28,28,28,28,28
Armenia,9,9,9,9,9,9,9
Bolivia,40,40,40,40,40,40,40
Brazil,945,945,945,945,945,945,945
Chile,120,120,120,120,120,120,120
Colombia,71,71,71,71,71,71,71
Ecuador,14,14,14,14,14,14,14
Greater Buenos Aires,6,6,6,6,6,6,6
Greater Florianopolis,29,29,29,29,29,29,29
Greater São Paulo Area,32,32,32,32,32,32,32
Guatemala,22,22,22,22,22,22,22
Mexico,147,147,147,147,147,147,147
Peru,37,37,37,37,37,37,37
Uruguay,18,18,18,18,18,18,18

In [203]:
filtro_da1 = danalytic['localidad'].isin(['Greater Brasilia', 'Greater São Paulo Area','Greater Florianopolis'])
resultados = danalytic[filtro_da1]
filtro_da4 = danalytic['localidad'].isin(['Greater Buenos Aires', 'Argentina'])
resultados = danalytic[filtro_da4]

danalytic.loc[filtro_da1, 'localidad'] = 'Brazil'
danalytic.loc[filtro_da4, 'localidad'] = 'Argentina'

agrupado = danalytic.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,34,34,34,34,34,34,34
Armenia,9,9,9,9,9,9,9
Bolivia,40,40,40,40,40,40,40
Brazil,1006,1006,1006,1006,1006,1006,1006
Chile,120,120,120,120,120,120,120
Colombia,71,71,71,71,71,71,71
Ecuador,14,14,14,14,14,14,14
Guatemala,22,22,22,22,22,22,22
Mexico,147,147,147,147,147,147,147
Peru,37,37,37,37,37,37,37
Uruguay,18,18,18,18,18,18,18

In [222]:
localidades_unicas = medicina['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

medicina['pais'] = medicina['localidad'].apply(identificar_pais)
medicina['localidad'] = medicina['localidad'].apply(identificar_pais)

In [223]:
agrupado = medicina.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,175,175,175,175,175,175,175
Brazil,412,412,412,412,412,412,412
Chile,292,292,292,292,292,292,292
Colombia,250,250,250,250,250,250,250
Costa Rica,8,8,8,8,8,8,8
Dominica,11,11,11,11,11,11,11
Ecuador,76,76,76,76,76,76,76
Jamaica,6,6,6,6,6,6,6
Mexico,185,185,185,185,185,185,185
Nicaragua,1,1,1,1,1,1,1
Panama,54,54,54,54,54,54,54
Peru,53,53,53,53,53,53,53
Uruguay,19,19,19,19,19,19,19
Venezuela,11,11,11,11,11,11,11

In [224]:
filtro_md1 = medicina['localidad'].isin(['Greater São Paulo Area'])
resultados = medicina[filtro_md1]
filtro_md2 = medicina['localidad'].isin(['Greater Buenos Aires'])
resultados = medicina[filtro_md2]
filtro_md3 = medicina['localidad'].isin(['Santiago Metropolitan Area', 'Chile'])
resultados = medicina[filtro_md3]
filtro_md4 = medicina['localidad'].isin(['Medellín Metropolitan Area', 'Colombia'])
resultados = medicina[filtro_md4]
filtro_md5 = medicina['localidad'].isin(['Turmero, Aragua State, Venezuela'])
resultados = medicina[filtro_md5]
filtro_md6 = medicina['localidad'].isin(['Torreon Metropolitan Area', 'Mexico'])
resultados = medicina[filtro_md6]

medicina.loc[filtro_md1, 'localidad'] = 'Brazil'
medicina.loc[filtro_md2, 'localidad'] = 'Argentina'
medicina.loc[filtro_md3, 'localidad'] = 'Chile'
medicina.loc[filtro_md4, 'localidad'] = 'Colombia'
medicina.loc[filtro_md5, 'localidad'] = 'Venezuela'
medicina.loc[filtro_md6, 'localidad'] = 'Mexico'

agrupado = medicina.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,175,175,175,175,175,175,175
Brazil,412,412,412,412,412,412,412
Chile,292,292,292,292,292,292,292
Colombia,250,250,250,250,250,250,250
Costa Rica,8,8,8,8,8,8,8
Dominica,11,11,11,11,11,11,11
Ecuador,76,76,76,76,76,76,76
Jamaica,6,6,6,6,6,6,6
Mexico,185,185,185,185,185,185,185
Nicaragua,1,1,1,1,1,1,1
Panama,54,54,54,54,54,54,54
Peru,53,53,53,53,53,53,53
Uruguay,19,19,19,19,19,19,19
Venezuela,11,11,11,11,11,11,11

In [215]:
localidades_unicas = contabilidad['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

contabilidad['pais'] = contabilidad['localidad'].apply(identificar_pais)
contabilidad['localidad'] = contabilidad['localidad'].apply(identificar_pais)

In [216]:
agrupado = contabilidad.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,309,309,309,309,309,309,309
Bolivia,5,5,5,5,5,5,5
Brazil,1020,1020,1020,1020,1020,1020,1020
Chile,8,8,8,8,8,8,8
Colombia,79,79,79,79,79,79,79
Ecuador,12,12,12,12,12,12,12
Mexico,84,84,84,84,84,84,84
Peru,25,25,25,25,25,25,25
Uruguay,15,15,15,15,15,15,15

In [217]:
filtro_cn1 = contabilidad['localidad'].isin(['Greater Brasilia', 'Greater São Paulo Area','Greater Salvador'])
resultados = contabilidad[filtro_cn1]
filtro_cn4 = contabilidad['localidad'].isin(['El Alto, La Paz, Bolivia'])
resultados = contabilidad[filtro_cn4]
contabilidad.loc[filtro_cn1, 'localidad'] = 'Brazil'
contabilidad.loc[filtro_cn4, 'localidad'] = 'Bolivia'

agrupado = contabilidad.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,309,309,309,309,309,309,309
Bolivia,5,5,5,5,5,5,5
Brazil,1020,1020,1020,1020,1020,1020,1020
Chile,8,8,8,8,8,8,8
Colombia,79,79,79,79,79,79,79
Ecuador,12,12,12,12,12,12,12
Mexico,84,84,84,84,84,84,84
Peru,25,25,25,25,25,25,25
Uruguay,15,15,15,15,15,15,15

In [218]:
localidades_unicas = abogacia['localidad'].unique()

paises = [pais.name for pais in pycountry.countries]
def identificar_pais(cadena):
    for pais in paises:
        if pais in cadena:
            return pais
    return cadena

abogacia['pais'] = abogacia['localidad'].apply(identificar_pais)
abogacia['localidad'] = abogacia['localidad'].apply(identificar_pais)

In [219]:
agrupado = abogacia.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,109,109,109,109,109,109,109
Brazil,878,878,878,878,878,878,878
Chile,152,152,152,152,152,152,152
Colombia,196,196,196,196,196,196,196
Ecuador,38,38,38,38,38,38,38
Guyana,21,21,21,21,21,21,21
Mexico,93,93,93,93,93,93,93
Peru,39,39,39,39,39,39,39
"St Thomas, US Virgin Islands",1,1,1,1,1,1,1

In [220]:
filtro_ab1 = abogacia['localidad'].isin(['Greater Goiania', 'Greater São Paulo Area'])
resultados = abogacia[filtro_ab1]
filtro_ab4 = abogacia['localidad'].isin(['Medellín Metropolitan Area', 'Colombia'])
resultados = abogacia[filtro_ab4]
filtro_ab5 = abogacia['localidad'].isin(['Greater Colima Area', 'Mexico'])
resultados = abogacia[filtro_ab5]

abogacia.loc[filtro_ab1, 'localidad'] = 'Brazil'
abogacia.loc[filtro_ab4, 'localidad'] = 'Colombia'
abogacia.loc[filtro_ab5, 'localidad'] = 'Mexico'

agrupado = abogacia.groupby(['localidad']).count()

# Mostrar el resultado
agrupado

,fecha posteo,puesto,empresa,descripcion,modalidad,requisitos,pais
localidad,,,,,,,
Argentina,109,109,109,109,109,109,109
Brazil,878,878,878,878,878,878,878
Chile,152,152,152,152,152,152,152
Colombia,196,196,196,196,196,196,196
Ecuador,38,38,38,38,38,38,38
Guyana,21,21,21,21,21,21,21
Mexico,93,93,93,93,93,93,93
Peru,39,39,39,39,39,39,39
"St Thomas, US Virgin Islands",1,1,1,1,1,1,1

In [227]:
danalytic

,fecha posteo,puesto,empresa,descripcion,modalidad,localidad,requisitos,pais
0,2022-11-29,Analista Datos Junior - Santiago Centro,MVS Group S.A.,Importante institución bancaria anda en búsque...,onsite,Chile,"[{'Nivel de antigüedad': 'Intermedio'}, {'Tipo...",Chile
1,2022-11-29,Analista Datos Junior - Santiago Centro,MVS Group S.A.,Importante institución bancaria anda en búsque...,onsite,Chile,"[{'Nivel de antigüedad': 'Intermedio'}, {'Tipo...",Chile
2,2022-11-29,Analista Inteligencia de Datos (Power BI exclu...,Industria de Alimentos Trendy S.A,"¡Te estamos buscando!Tú, si, tú, ¿tienes exper...",hybrid,Chile,"[{'Nivel de antigüedad': 'Intermedio'}, {'Tipo...",Chile
3,2022-11-29,Analista Inteligencia de Datos (Power BI exclu...,Industria de Alimentos Trendy S.A,"¡Te estamos buscando!Tú, si, tú, ¿tienes exper...",hybrid,Chile,"[{'Nivel de antigüedad': 'Intermedio'}, {'Tipo...",Chile
4,2022-11-29,Analista Inteligencia de Datos (Power BI exclu...,Industria de Alimentos Trendy S.A,"¡Te estamos buscando!Tú, si, tú, ¿tienes exper...",hybrid,Chile,"[{'Nivel de antigüedad': 'Intermedio'}, {'Tipo...",Chile
...,...,...,...,...,...,...,...,...
1513,2023-04-06,Analista de dados jr,Netvagas,Experiência e facilidade com Excel/Google Shee...,remote,Brazil,"[{'Nível de experiência': 'Pleno-sênior'}, {'T...",Greater Florianopolis
1514,2023-04-06,Analista de dados junior,Netvagas,Experiência anterior em tratamento de dadosCon...,remote,Brazil,"[{'Nível de experiência': 'Pleno-sênior'}, {'T...",Brazil
1515,2023-04-06,Analista de dados junior,Netvagas,Quais conhecimentos e experiências não podem f...,remote,Brazil,"[{'Nível de experiência': 'Pleno-sênior'}, {'T...",Brazil
1516,2023-04-06,Analista de Dados Junior,Webjump,"Como Analista de Dados Junior na WEBJUMP, você...",remote,Brazil,"[{'Nível de experiência': 'Não aplicável'}, {'...",Brazil
1517,2023-04-06,Analista de dados junior,Netvagas,Inglês intermediário/avançado;Conhecimento em ...,onsite,Brazil,"[{'Nível de experiência': 'Pleno-sênior'}, {'T...",Brazil

SE CONVIRTIO A CSV LO DF PARA USAR EN LOS POSTERIORES ANALISIS.

In [225]:
# #Carrera Tradicionales.
# abogacia .to_csv('./datasets/linkedin-jobs-Latam_abogacia.csv', index =False)
# contabilidad .to_csv('./datasets/linkedin-jobs-Latam_medicina.csv', index =False)
# medicina .to_csv('./datasets/linkedin-jobs-Latam_contabilidad.csv', index =False)


# # carreras IT
# ingsoft .to_csv('./datasets/linkedin-jobs-Latam_IGSF.csv', index =False)
# fullstack .to_csv('./datasets/linkedin-jobs-Latam_FULLSTACK.csv', index =False)
# informatica .to_csv('./datasets/linkedin-jobs-Latam_informatica.csv', index =False)
# denginner .to_csv('./datasets/linkedin-jobs-Latam_DE.csv', index =False)
# danalytic.to_csv('./datasets/linkedin-jobs-Latam_DA.csv', index =False)
# dscience.to_csv('./datasets/linkedin-jobs-Latam_DS.csv', index =False)

In [104]:

# salarios23.to_csv('./datasets/salary 2023.csv', index =False)
# salarios22.to_csv('./datasets/salary 2022.csv', index =False)